@mobile-menu-button-color: #81B3D2;

.main-nav {}

.main-nav__toggle {}

.main-nav__list {}

.main-nav__list-item {
  background-color: red;
  width: 320px;
  min-height: 55px;
}

.main-nav__list-link {}
